{% extends "::base.html.twig" %}

{%block title%}weplay{% endblock%}
{% block stylesheets %}
{% endblock %}
{% block body %}
{% include "MIWIntranetBundle:Default:navigation.html.twig" %}
<div class="container">
{% block commonup%}
{% endblock%}
    <div class="row">
        <div class="col-xs-3">
    {% block sidecontent%}
    {% endblock%}
        </div>
        <div class="col-xs-9">
    {% block maincontent%}
    {% endblock%}
        </div>
    </div>
{% block commondown%}
{% endblock%}
</div>
{% block javascripts%}
{% endblock%}
{% endblock %}
