{% extends "::base.html.twig" %}

{%block title%}WePlay{% endblock%}
{% block stylesheets %}
{% endblock %}
{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                WePlay				
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li>						
                    <a href="">{{app.user.username}}</a>
                </li>
                <li>						
                    <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-power-off fa-fw"></i>Cerrar sesión</a>                          
                </li>
            {% else %}
                <li>						
                    <a href="{{path('fos_user_registration_register')}}">¿No tienes todavía una cuenta?</a>
                </li>
            {% endif%}
            </ul>
        </div>
    </div>
</div> <!-- /navbar -->
<div class="row">
    <div class="col-xs-3">
    {% block sidecontent%}
    {% endblock%}
    </div>
    <div class="col-xs-6">
    {% block maincontent%}
    {% endblock%}
    </div>
</div>
    {% block javascripts%}
    {% endblock%}
{% endblock %}