{% extends "::base.html.twig" %}

{%block title%}WePlay{% endblock%}
{% block stylesheets %}
{% endblock %}
{% block body %}
{% include "MIWPublicBundle:Default:navigation.html.twig" %}
<div class="row">
    <div class="col-xs-3">
    {% block sidecontent%}
    {% endblock%}
    </div>
    <div class="col-xs-6">
    {% block maincontent%}
    {% endblock%}
    </div>
</div>
    {% block javascripts%}
    {% endblock%}
{% endblock %}