<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                WePlay				
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                {% include "::user-dropdown.html.twig" %}
            {% else %}
            <li>						
                <a href="#" data-toggle="modal" data-target="#registerModal">¿No tienes todavía una cuenta?</a>
            </li>
            {% endif%}
        </ul>
    </div>
</div> <!-- /navbar -->
