{% extends "MIWIntranetBundle:Default:base.html.twig" %}

{% block maincontent %}

<form action="{{path('intranet_create_game')}}" method="POST">
    {{ form_widget(form) }}
    <input type="submit" class="btn" value="Crear Partido"/>
</form>
{% endblock %}